blinker==1.4
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.0.0
dnspython==2.4.2
email-validator==2.1.0.post1
Flask==2.2.5
Flask-DebugToolbar==0.13.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
greenlet==3.0.2
gunicorn==21.2.0
idna==3.6
itsdangerous==2.0.0
Jinja2==3.0.3
MarkupSafe==2.1.1
packaging==23.2
parso==0.8.3
psycopg2-binary==2.9.5
pycparser==2.21
requests==2.31.0
six==1.16.0
typing_extensions==4.9.0
urllib3==2.1.0
Werkzeug==2.2.2
WTForms==3.1.2
